- if controller_name != 'sessions'
  = link_to 'ログイン', new_session_path(@user)
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to 'アカウント作成', new_registration_path(@user)
  %br/
