%div.container-fluid
  %div.row.m-t-1
    %div.col-xs-2
    %div.col-xs-8
      %h2 いいね！してくれたアカウント
      %div.card-deck-wrapper
        -@users.each do |user|
          %div.card
            %div.card-header
              =link_to user.name, user_path(user)
            %div.card-block.card-user
              %div.card-text
                (ユーザー紹介文)
            %div.card-footer
      =paginate @users, param_name: 'users_page'
    =render 'shared/right_sidebar'
