.container-fluid
  .row.m-t-1
    .col-xs-2
    .col-xs-8
      %h2 いいね！してくれたアカウント
      .card-deck-wrapper
        - @users.each do |user|
          .card
            .card-header
              = link_to user.name, user_path(user)
            .card-block.card-user
              .card-text
                (ユーザー紹介文)
            .card-footer
      = paginate @users, param_name: 'users_page'
    = render 'shared/right_sidebar'
