.container-fluid
  .row.m-t-1
    = render 'shared/sidebar', user:@user
    .col-xs-8
      - @user.followers.each do |follower|
        = render 'shared/card_user', user: follower
    = render 'shared/right_sidebar'
