%div.container-fluid
  %div.row
    =render 'shared/sidebar'
    %div.col-xs-8.m-t-1
      - @user.followers.each do |follower|
        %div.card
          %div.card-header
            =link_to follower.name, user_path(follower)
            %div.pull-xs-right
              = render 'shared/follow_button', following_user: follower
          %div.card-block
            %div.card-text
    =render 'shared/right_sidebar'
