%div.container-fluid
  %div.row.m-t-1
    =render 'shared/sidebar'
    %div.col-xs-8
      - @user.following.each do |following|
        %div.card
          %div.card-header
            =link_to following.name, user_path(following)
            %div.pull-xs-right
              = render 'shared/follow_button', following_user: following
          %div.card-block
            %div.card-text
    =render 'shared/right_sidebar'

