%div.container-fluid
  %div.row
    =render 'shared/sidebar'
    %div.col-xs-8
      - @user.followers.each do |user|
        %div.card-block
          %div.card
            %div.card-header
              #{user.name}
            %div.card-text
