.container-fluid
  .row.m-t-1
    = render 'shared/sidebar', user:@user
    .col-xs-8
      - @user.following.each do |following|
        = render 'shared/card_user', user: following
    = render 'shared/right_sidebar'

