.container-fluid
  .row.m-t-1
    =render 'shared/sidebar', user: @user
    .col-xs-8
      %h2 #{@user.name}さんのタイムライン
      - @tweets.each do |tweet|
        =render 'shared/card_tweet', tweet: tweet
        - if tweet.comments.size > 0
          .card.card-block.comments_notification
            .card-text コメントがついています！
      #show_tweet_area
    =render 'shared/right_sidebar'
