-# ツィートをカード形式で表示する
-# @note user_tweet_path()を実行しているので、show_tweet_modal.html.hamlがajaxで描画される
-# #show_tweet_areaを同じhtmlで宣言すること
-# @param :tweet [Tweet] 表示したいTweetモデル
.card.card-tweet{data: {card_id: tweet.id}}
  .card-header
    =link_to tweet.user.name, user_tweet_path(tweet.user, tweet), method: :get, remote:true, data: { show_tweet: 'true' }
  .card-block
    .card-text
    = simple_format h(tweet.body)
  .card-footer
    .card-like-area
      = render 'shared/card_like', tweet: tweet
    -if my_tweet? tweet
      .card-edit
        =link_to '編集する', edit_user_tweet_path(tweet.user, tweet), method: :get, class: 'btn btn-primary btn-sm pull-xs-right'
        =link_to '削除する', user_tweet_path(tweet.user, tweet), method: :delete, class: 'btn btn-danger btn-sm pull-xs-right'
