#doTweet.modal.fade{tabindex: -1, role: "dialog", aria: {labelledby: "doTweet", hidden: "true"}}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{aria: {hidden: "true"}, data: {dismiss: "modal"}, type: "button"} ×
        %h3 ツィートする
      .model-body
        .card.card-block{style: 'border-width:0'}
          - tweet=current_user.tweets.build()
          = simple_form_for(tweet, url: [current_user, tweet]) do |f|
            = f.error_notification
            = f.input :body, as: :text, label: false, class:'textarea', :input_html => {rows: 10}, autofocus: true,
             placeholder: '今どうしている？', maxlength: 140
            = f.button :submit, data: {disable_with: "ツィート処理中..."}
