-# レイアウト右側 おすすめユーザー表示
-# @note ログイン状態で利用すること
%div#left-sidebar.col-xs-2
  %h3.font-size-mid みんなをフォローしよう！
  - User.recommend(current_user).each do |recommend_user|
    %div.card
      %div.card-block
        %div.card-title
          = link_to recommend_user.name, user_tweets_path(recommend_user)
        %div.card-text
          = render 'shared/follow_button', following_user: recommend_user
