-# ツィートの詳細をモーダルダイアログで表示する
-# @note このモーダルはrenderによってhamlに記述されるのではなく、tweets_controller.showのremote:trueのajax呼び出しによって
-#       #show_tweet_areaに書き出されることを想定している
-# @param :show_tweet [Tweet] 詳細を表示したいTweetモデル
#show_tweet.modal.fade{tabindex: -1, role: 'dialog', aria: {labelledby: 'showTweetLabel', hidden: 'true'}}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{aria: {hidden: 'true'}, data: {dismiss: 'modal'}, type: 'button', style: 'margin-left:0.5rem;'} ×
        .pull-xs-left
          %p{style:'font-size:2rem;'} #{show_tweet.user.name}
        .pull-xs-right
          = render 'shared/follow_button', following_user: show_tweet.user
      .model-body
        .card.card-tweet{data: {card_id: show_tweet.id}}
          .card-block{style: 'border-width:0'}
            = simple_format h(show_tweet.body)
          .card-footer
            .card-like-area
              = render 'shared/card_like', tweet: show_tweet
