%div#user-sidebar.col-xs-4
  %div.card-block
    %div#user-profile.card
      %div.card-title
        %h1 #{@user.name}'s page
      %div.card-text
        =link_to 'ツイート', user_tweets_path(@user)
        %div
          %stroing
            =link_to @user.tweets_count, user_tweets_path(@user)
        =link_to 'フォロー', following_user_path(@user)
        %div
          %stroing
            =link_to @user.following_count, following_user_path(@user)
        =link_to  'フォロワー', followers_user_path(@user)
        %div
          %strong
            =link_to @user.followers_count, followers_user_path(@user)
        - unless current_user? @user
          =render 'shared/follow_button', following_user: @user
