/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.card-user {
  height: 10rem;
}

.card-tweet {
  margin-bottom: 0 !important;

  .card-footer {
    background-color: white;
    border-color: white;
  }
}

.font-size-mid {
  font-size: 1.5rem !important;
}
