/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.card-user {
  height: 10rem;
}

.card-tweet {
  margin-bottom: 0 !important;

  .card-header {
    background-color: white;

    &:hover {
      background-color: gainsboro;
    }
  }

  .card-footer {
    background-color: white;
    border-color: white;
    height: 4rem;

    .card-like-area {
      .card-like-button {
        position: relative;
      }

      .card-like-counter {
        position: relative;
        top: -1.5rem;
        left: 3rem;
      }
    }

    .card-edit {
      position: relative;
      top: -3.5rem;
    }
  }
}

.font-size-mid {
  font-size: 1.5rem !important;
}

.comments_notification {
  background-color: lightskyblue !important;
}

.notice_up {
  position: relative;
  left: -1.8rem;
  top: -0.5rem;

  &.hide {
    display: none;
  }
}

